{% extends 'livreur_back.html.twig' %}
    {% block body %}
    <style>
      body{
          min-height: 100vh;
      }
      .modal-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-top: 102px;
      }
      .change_mdp_btn{
          color: #ffffff;
          background-color: #e74c3c;
          outline: none;
          border: 0;
          color: #fff;
          padding: 10px 20px;
          text-transform: uppercase;
          margin-top: 50px;
          margin-left: 7px;
      }
      .change_mdp_text{
          color: #000000;    
          text-align: center;
          font-weight: 600;
          font-size: 22px;
          font-family: sans-serif;
          margin-left: -13px;
          margin-bottom: 30px;
  
      }
      .change_input_container{
          position: relative;
          margin-bottom: 25px;
      }
      .change_input_container label {
          position: absolute;
          top: -15px;
          left: 0px;
          font-size: 16px;
          color: #00235B;
          font-weight: 600;
      }
      .change_input_container input { 
          border: 0;
          border-bottom: 1px solid #555;  
          background: transparent;
          width: 100%;
          padding: 8px 0 5px 0;
          font-size: 16px;
          
      }
      .change_input_container input:focus { 
          border: none;    
          outline: none;
          border-bottom: 1px solid #e74c3c;  
      }
  </style>
                <div class="change_mdp_text"><h2>Change Password</h2></div>
                {{ form_start(formChange) }}
                    <div class="change_input_container">
                        {{ form_label(formChange.current_password) }}
                        {{ form_widget(formChange.current_password) }}
                        {% if form_errors(formChange.current_password)|length > 0 %}
                            <div class="form-error">{{ form_errors(formChange.current_password) }}</div>
                        {% endif %}
                    </div>
                    <div class="change_input_container">
                        {{ form_label(formChange.new_password.first) }}
                        {{ form_widget(formChange.new_password.first) }}
                    </div>
                    <div class="change_input_container">
                        {{ form_label(formChange.new_password.second) }}
                        {{ form_widget(formChange.new_password.second) }}
                        {% if form_errors(formChange.new_password.second)|length > 0 %}
                            <div class="form-error">{{ form_errors(formChange.new_password.second) }}</div>
                        {% endif %}
                    </div>
                        <button type="submit" class="change_mdp_btn"> Change Password</button>
                    </div>
                {{ form_end(formChange) }}

    
    {% endblock %}
 