{% extends 'client_back.html.twig' %}
{% block body %}
    <style>
    .user__reclamation__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .reclamtion_list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .reclamtion_list li{
        font-size: 25px;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 5px;
        
    }
    .reclamation_text{
        color: black;
        font-size: 22px !important;
        margin-top: 15px;
    }
    .reclamation__subtitle{
        font-weight: 600;
    }
    .reclamation__list__container{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 1px solid lightgrey;
        border-radius: 25px;
        padding: 20px 35px;
        max-width: 70%;
        margin: auto;
        width: 100%;
    }
    .reclamation__delete__button{
        margin-left: auto;
    }
</style>
    <div class="user__reclamation__container">
            <ul class="reclamtion_list">
                <div class="filters">
                    <a href="{{ path('app_user_reclamation', {'id': userId, 'sort': 'asc', 'sortBy': 'stars' }) }}">                        <svg title="rating croissant" width="20px" height="20px" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Dribbble-Light-Preview" transform="translate(-260.000000, -6684.000000)" fill="#000000">
                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                        <path d="M223.707692,6534.63378 L223.707692,6534.63378 C224.097436,6534.22888 224.097436,6533.57338 223.707692,6533.16951 L215.444127,6524.60657 C214.66364,6523.79781 213.397472,6523.79781 212.616986,6524.60657 L204.29246,6533.23165 C203.906714,6533.6324 203.901717,6534.27962 204.282467,6534.68555 C204.671211,6535.10081 205.31179,6535.10495 205.70653,6534.69695 L213.323521,6526.80297 C213.714264,6526.39807 214.346848,6526.39807 214.737591,6526.80297 L222.294621,6534.63378 C222.684365,6535.03868 223.317949,6535.03868 223.707692,6534.63378" id="arrow_up-[#337]">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="{{ path('app_user_reclamation', {'id': userId, 'sort': 'desc', 'sortBy': 'stars' }) }}">                        <svg title="rating croissant" width="20px" height="20px" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <svg title="rating décroissant" width="20px" height="20px" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Dribbble-Light-Preview" transform="translate(-220.000000, -6684.000000)" fill="#000000">
                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                        <path d="M164.292308,6524.36583 L164.292308,6524.36583 C163.902564,6524.77071 163.902564,6525.42619 164.292308,6525.83004 L172.555873,6534.39267 C173.33636,6535.20244 174.602528,6535.20244 175.383014,6534.39267 L183.70754,6525.76791 C184.093286,6525.36716 184.098283,6524.71997 183.717533,6524.31405 C183.328789,6523.89985 182.68821,6523.89467 182.29347,6524.30266 L174.676479,6532.19636 C174.285736,6532.60124 173.653152,6532.60124 173.262409,6532.19636 L165.705379,6524.36583 C165.315635,6523.96094 164.683051,6523.96094 164.292308,6524.36583" id="arrow_down-[#338]"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                {% for rec in reclamation %}
                    <div class="reclamation__list__container">
                        <form class="reclamation__form" action="{{ path('app_delete_reclamation', {'id': rec.id}) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">                
                            <li>
                                <div class="reclamation__subtitle">Type de reclamation : </div>
                                <div>{{rec.typeReclamation}}</div>
                            </li>
                            <li>
                                <div class="reclamation__subtitle">Réference de colis : </div>
                                <div>{{rec.ref}}</div>
                            </li>
                            <li class="reclamation_text">{{rec.text}}</li>
                            <div class="reclamation__button__container">
                                <button class="reclamation__delete__button" type="submit">Supprimer cette reclamation</button>
                            </div>
                        </form>
                        <form action="{{ path('app_modify_feedback', {'id': rec.id}) }}">
                            <button class="reclamation__modify__button" type="submit">Modifier cette reclamation</button>
                        </form>
                    </div>
                {% endfor %}
            </ul>
            {{ knp_pagination_render(reclamation) }}
        </div>
{% endblock %}